@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<h3 class="text-2xl font-bold mb-4">Personal Data</h3>

<div class="flex justify-center">
    <div class="w-full max-w-md">
        <p class="mb-4">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p class="mb-4">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200" type="submit">Download</button>
        </form>
        <p class="mt-4">
            <a href="Account/Manage/DeletePersonalData" class="w-full py-2 bg-red-600 text-white rounded-lg text-center block hover:bg-red-700 transition duration-200">Delete</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
