@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Blog.Data;
@using Blog.Data.Models

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<div class="flex flex-col md:flex-row gap-6 justify-center">
    <div class="w-full md:w-1/3">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h2 class="text-2xl font-semibold mb-4">Create a new account</h2>
            <hr class="mb-4 border-gray-300" />
           @*  <ValidationSummary class="text-red-500 mb-4" role="alert" /> *@

            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div class="relative mb-4">
                    <label for="first-name" class="font-semibold text-gray-500 left-4 bg-white px-1 text-sm transform -translate-y-1/2">First Name</label>
                    <InputText @bind-Value="Input.FirstName" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring focus:ring-blue-500 focus:border-blue-500"
                               aria-required="true" placeholder="First Name" />
                    <ValidationMessage For="() => Input.FirstName" class="text-red-500 text-sm mt-1" />
                </div>

                <div class="relative mb-4">
                    <label for="last-name" class="font-semibold text-gray-500 left-4 bg-white px-1 text-sm transform -translate-y-1/2">Last Name</label>
                    <InputText @bind-Value="Input.LastName" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring focus:ring-blue-500 focus:border-blue-500"
                               aria-required="true" placeholder="Last Name" />
                    <ValidationMessage For="() => Input.LastName" class="text-red-500 text-sm mt-1" />
                </div>
            </div>
            
            <div class="relative mb-4">
                <label for="email" class=" font-semibold text-gray-500  left-4 bg-white px-1 text-sm transform -translate-y-1/2">Email</label>
                <InputText @bind-Value="Input.Email" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring focus:ring-blue-500 focus:border-blue-500"
                           autocomplete="username" aria-required="true" placeholder="name@example.com" />
               
                <ValidationMessage For="() => Input.Email" class="text-red-500 text-sm mt-1" />
            </div>

            <div class="relative mb-4">
                <label for="password" class="font-semibold text-gray-500 left-4 bg-white px-1 text-sm transform -translate-y-1/2">Password</label>
                <InputText type="password" @bind-Value="Input.Password" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring focus:ring-blue-500 focus:border-blue-500"
                           autocomplete="new-password" aria-required="true" placeholder="password" />
               
                <ValidationMessage For="() => Input.Password" class="text-red-500 text-sm mt-1" />
            </div>

            <div class="relative mb-4">
                <label for="confirm-password" class="font-semibold text-gray-500 left-4 bg-white px-1 text-sm transform -translate-y-1/2">Confirm Password</label>
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring focus:ring-blue-500 focus:border-blue-500"
                           autocomplete="new-password" aria-required="true" placeholder="confirm password" />
                
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-red-500 text-sm mt-1" />
            </div>

            <button type="submit" class="w-full py-3 rounded-lg bg-blue-800 text-white font-semibold hover:bg-blue-600 transition-all duration-300">Register</button>
        </EditForm>
    </div>

    @* <div class="w-full md:w-2/5">
        <section>
            <h3 class="text-xl font-semibold mb-4">Use another service to register</h3>
            <hr class="mb-4 border-gray-300" />
            <ExternalLoginPicker />
        </section>
    </div> *@
</div>



@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();
        user.FullName = Input.FirstName + " " + Input.LastName;
        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }
        //Adding the default Reader role to the user
        await UserManager.AddToRoleAsync(user, "Reader");
        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name = "First Name")]
        public string FirstName { get; set; } = "";

        [Required]
        [Display(Name = "Last Name")]
        public string LastName { get; set; } = "";

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
