@inherits LayoutComponentBase

<div class="h-screen">


   
    <MudThemeProvider />
    <MudPopoverProvider @rendermode="InteractiveServer" />
    <MudDialogProvider />
    <MudSnackbarProvider @rendermode="InteractiveServer" />
    <NavMenu />
<div class="p-4">
    <ErrorBoundary>   
       <ChildContent>
                @Body
       </ChildContent>
       <ErrorContent>
           <ErrorDisplay />
       </ErrorContent>
       
        </ErrorBoundary>

</div>
<Footer />
</div>