@inherits LayoutComponentBase

<div class="h-screen">


   
    <MudThemeProvider />
    <MudPopoverProvider @rendermode="InteractiveServer" />
    <MudDialogProvider @rendermode ="InteractiveServer"/>
    <MudSnackbarProvider @rendermode="InteractiveServer" />
    <NavMenu />
<div class="p-4">
    <ErrorBoundary>   
       <ChildContent>
                @Body
       </ChildContent>
       <ErrorContent>
           <ErrorDisplay />
       </ErrorContent>
       
        </ErrorBoundary>

</div>
<Footer />
</div>

@code {
    private ErrorBoundary? errorBoundary;
    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}